color-first = #60f
color-wrapper = #fcfcfc
color-nav-a = #ffffff

body
  font-size 120%
  background lighten(color-first, 90%)
  padding 0
  margin 0
  color lighten(color-first, -55%)
  a
    color lighten(color-first, 20%)
    &.nostyle
      color inherit
      text-decoration none

  .nav
    background color-first !important
    display flex
    padding 10px 20px 10px 20px
    justify-content space-between
    color color-nav-a

    input, button
      font-size 130%

    *:not(:last-child)
      margin-right 20px

    .right-nav
      display inherit
      align-items center
      ul
        list-style none
        display flex
        justify-content space-between
        li
          a
            text-decoration none
            color color-nav-a

    .left-nav
      display inherit
      align-items center
      input
        margin-right 0


    .clear
      content ""
      clear both




  .book-info
    padding-left 0 !important
    padding-top 0 !important
    .short-info
      padding 0 !important
      img
        width 100%

    .main-info
      padding 0 20px

      table
        th
          text-align right
        tr
          text-align left


      .title
        padding 20px 0
        h1
          color lighten(color-first, -50%)
          margin 0
        .author
          color color-first
        .year
          color lighten(color-first, 50%)

  .page-block
    max-width 1300px
    margin 0 auto
    background color-wrapper
    margin-bottom 20px

    &.error
      background lighten(color-first, 70%)

    gen_shadows($n)
      $value = 1px 1px lighten(color-first, 40%)
      for $i in 1..$n
        $value = $value, (($i)px ($i)px lighten(color-first, 40% + $i * 4))
      return $value

    box-shadow gen_shadows(10)
    padding 20px

    h2.title
      margin-top 0
      color lighten(color-first, -50%)

  form
    &.register
      *
        display block
        margin-bottom 5px
        font-size 120%

  .footer
    background color-first
    display flex
    justify-content space-between
    h3
      color color-nav-a
      a
        color color-nav-a

  .btn
    btn-color = color-first
    display inline-block !important
    padding 6px
    border 1px solid white
    border-radius 8px
    background btn-color
    color white
    &:hover
      cursor pointer
      text-shadow 0 0 2px white