<nav class="nav page-block">
    <div class="left-nav">
        <a href="/" class="nostyle">
            <div class="logo">
                 <h1>
                    Find Your Book
                 </h1>
            </div>
        </a>
        <div id="book-search">
            <input type="search" placeholder="Поиск книги/автора">
            <button class="btn">Найти</button>
        </div>
    </div>
    <div class="right-nav">
        <ul>
            <li><a href="#">Книги</a></li>
            <li><a href="#">Авторы</a></li>
            <li><a href="#">Сборники</a></li>
            <li><a href="#">Жанры</a></li>
        </ul>
        <a href="/register"><button class="btn">Вход/регистрация</button></a>
    </div>
    <!--<div class="clear"></div>-->
</nav>