<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="navbar-brand">
                Find Your Book
    </div>

    <form id="book-search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск книги/автора">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="#">Книги</a></li>
            <li class="nav-item"><a href="#">Авторы</a></li>
            <li class="nav-item"><a href="#">Сборники</a></li>
            <li class="nav-item"><a href="#">Жанры</a></li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0">Вход/регистрация</button>
    </div>
</nav>